<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of APIs</title>
</head>
<body>
  <h1>List of APIs</h1>
  <ul>
    <li><a href="/property">Property</a></li>
    <li><a href="/parks">Parks</a></li>
    <li><a href="/schools">School</a></li>
    <li><a href="/resaturants">Restaurants</a></li>
    <li><a href="/grocery">Grocery Store</a></li>
    <li><a href="/grocery">gyms</a></li>
    <li><a href="/publictransport">Public Transport</a></li>
    
  </ul>
</body>
</html>